/*------------------------------------*\
    #SOCIAL
\*------------------------------------*/

/**
 * Styling for the Alpha series site header social icons.
 */


/*div*/.#{$sagovau-namespace}social {
    font-size: $sagovau-font-size-base;
    vertical-align: middle;

    @if mixin-exists(sagovau-social-custom-content) {

        @include sagovau-social-custom-content;

    } @else {

        color: $sagovau-color-text-reverse;

    }

}

    /*ul*/.#{$sagovau-namespace}social__list {
        @extend %#{$sagovau-namespace}list-inline;
    }

        /*li*/.#{$sagovau-namespace}social__item { }

            /*a*/.#{$sagovau-namespace}social__link {
                @include ui-link;

                color: inherit;
                font-weight: bold;
            }

                /*img, svg*/.#{$sagovau-namespace}social__icon {
                    fill: currentColor;
                    vertical-align: middle;
                }

                /*img, svg*/.#{$sagovau-namespace}social__icon--round {
                    border-radius: 50%;
                }
