<div class="action-module">
    
  <h2 class="action-module__title">{{ action-module-title }}</h2>

  <ul class="action-module__list">
    
    {{#action-module-items}}
      <li class="action-module__item">
        <a class="action-module__link" href="{{ item-url }}" target="_self">{{ item-title }}</a>
      </li>
      <!-- Separate list items so they can be justified -->
    {{/action-module-items}}
    
  </ul>
  
</div>