{{#navigation-tiles}}
  <a class="navigation-tile" href="{{ navigation-tile-url }}">
      
    <div class="u-hidden  u-display-block-large-and-up">
      <div class="navigation-tile__image    fixed-aspect-ratio  fixed-aspect-ratio--1x1"></div>
    </div>

    <div class="navigation-tile__text">
      
      <h2 class="navigation-tile__title">{{ navigation-tile-title }}</h2>
      
      <p class="u-hidden u-display-block-large-and-up">{{ navigation-tile-teaser }}</p>
      
    </div><!-- /.navigation-tile__text -->

  </a><!-- /.navigation-tile -->
{{/navigation-tiles}}
