
        <ul class="layout  layout--small">

            {{#featureModules}}

                <li class="layout__item  u-1-of-3-large-and-up">

                    <a class="feature-module{{ class }}" href="{{ href }}">

                        <h2 class="feature-module__title">{{ title }}</h2>

                        <!-- Hide the image's parent element to prevent it from being downloaded -->

                        <div class="u-hidden  u-display-block-large-and-up">

                            <div class="feature-module__image" style="background-image: url({{ image }})"></div>

                        </div>

                    </a><!-- /.feature-module -->

                <!-- /li.layout item -->
            
            {{/featureModules}}

        </ul>
