<ul class="layout  layout--small">
    
    {{#iconModules}}

        <li class="layout__item  u-1-of-3-large-and-up  u-1-of-1-huge">

            <a class="icon-module  icon-module--index-{{ index }}{{ class }}" href="{{ href }}">

                <h2 class="icon-module__title">{{ title }}</h2>

            </a><!-- /.icon-module -->

        </li><!-- /.layout__item -->

    {{/iconModules}}

</ul>
