
<div class="image-gallery">

    {{#imageGallery}}
      <figure class="image-gallery__item">

        <img class="image_gallery__image" src="{{ image }}" />

        <figcaption class="image_gallery__caption">{{ caption }}</figcaption>

      </figure>
      <!-- Separate list items so they can be justified -->
    {{/imageGallery}}

  </ul>

</div>
