        <nav class="secondary-navigation    layout__item  u-1-of-4-huge  u-hidden  u-display-inline-block-huge">

            <ul class="secondary-navigation__list">
                <li class="secondary-navigation__item  secondary-navigation__item--level-1  is-active"><a class="secondary-navigation__link  is-self  ga-navigation-menu-secondary-link" href="#">Secondary item 1</a></li>
                <li class="secondary-navigation__item  secondary-navigation__item--level-1"><a class="secondary-navigation__link  ga-navigation-menu-secondary-link" href="#">Secondary item 2</a></li>
                <li class="secondary-navigation__item  secondary-navigation__item--level-1"><a class="secondary-navigation__link  ga-navigation-menu-secondary-link" href="#">Secondary item 3</a></li>
                <li class="secondary-navigation__item  secondary-navigation__item--level-1"><a class="secondary-navigation__link  ga-navigation-menu-secondary-link" href="#">Secondary item 4</a></li>
            </ul><!-- /secondary-navigation__list -->

        </nav>
