<nav class="sitemap">

    <ul class="sitemap__collection  sitemap__collection--separated">
        <li class="sitemap__group    hidden large-and-up-display-inline-block">

            <h2 class="sitemap__title">Our places</h2>

            <ul class="sitemap__list">

                <li><a class="sitemap__link" href="http://www.environment.sa.gov.au/adelaidegaol/Home" target="_blank" title="Adelaide Gaol">Adelaide Gaol</a></li>
                <li><a class="sitemap__link" href="http://www.environment.sa.gov.au/clelandwildlife/Home" target="_blank" title="Cleland Wildlife Park">Cleland Wildlife Park</a></li>
                <li><a class="sitemap__link" href="http://www.environment.sa.gov.au/naracoorte/Home" target="_blank" title="Naracoorte Caves">Naracoorte Caves</a></li>
                <li><a class="sitemap__link" href="http://www.stateflora.sa.gov.au/home" target="_blank" title="State Flora">State Flora</a></li>
                <li><a class="sitemap__link" href="http://www.environment.sa.gov.au/parks/Find_a_Park/Browse_by_region/Limestone_Coast/Tantanoola_Caves_Conservation_Park" target="_blank" title="Tantanoola Caves">Tantanoola Caves</a></li>

            </ul><!-- /.sitemap__list -->
        <!-- /li.sitemap__group -->
    </ul><!-- /.sitemap__collection -->

</nav><!-- /.sitemap -->
