
        <ul class="slider__stage   js-slider-stage">

            {{#spotlightModule}}

                <li class="slider__cell">

                    <a class="spotlight {{ class }}" href="{{ href }}">

                    <div class="spotlight__background">

                        <img alt="{{ imageAltText }}" class="spotlight__image  spotlight__image--75%" src="{{ image }}" style="background-image: url({{ image }})">

                    </div>

                    <div class="spotlight__text">

                        <div class="spotlight__header">

                            <h2 class="spotlight__title">{{ title }}</h2>

                        </div>

                        <p>{{ description }}</p>

                    </div><!-- /.spotlight__text -->

                    </a><!-- /.spotlight -->

                <!-- /li.slider__cell -->
            
            {{/spotlightModule}}

        </ul>