<!DOCTYPE html>
<html lang="en" xml:lang="en" class="no-js" prefix="og: http://ogp.me/ns#">

    <head>

        {{>_head}}

    </head>


    <body>

        content

        {{>_foot}}

    </body>

</html>
