
{{> _header }}


<!-- Main content -->

<main class="box  box--small" role="main">

    <div class="layout  layout--small">


        <div class="layout__item  u-1-of-1  u-3-of-4-huge">

            {{> feature-modules }}<ul class="layout  layout--small">
                <li class="layout__item  u-1-of-3-large-and-up">

                    <a class="small-module  small-module--separated  small-module--index-0" href="#">

                    	<!-- Hide the image's parent element to prevent it from being downloaded -->

                        <div class="u-hidden  u-display-block-large-and-up">

                        	<div class="small-module__image    u-hidden  u-display-block-large-and-up" style="background-image: url(http://placehold.it/160x160);"></div>

                        </div>

                        <div class="small-module__text">

                            <h2 class="small-module__title">Visiting Kangaroo Island</h2>

                            <span class="u-hidden  u-display-block-large-and-up">Make the most of your visit by purchasing a Parks Pass.</span>

                        </div>

                    </a><!-- /.small-module -->

                <!-- /li.layout item --><li class="layout__item  u-1-of-3-large-and-up">

                    <a class="small-module  small-module--separated  small-module--index-1" href="#">

                    	<!-- Hide the image's parent element to prevent it from being downloaded -->

                        <div class="u-hidden  u-display-block-large-and-up">

                        	<div class="small-module__image    u-hidden  u-display-block-large-and-up" style="background-image: url(http://placehold.it/160x160);"></div>

                        </div>

                        <div class="small-module__text">

                            <h2 class="small-module__title">Facilities</h2>

                            <span class="u-hidden  u-display-block-large-and-up">Our environmentally friendly visitor centre uses solar power and rainwater.</span>

                        </div>

                    </a><!-- /.small-module -->

                <!-- /li.layout item --><li class="layout__item  u-1-of-3-large-and-up">

                    <a class="small-module  small-module--separated  small-module--index-2" href="#">

                    	<!-- Hide the image's parent element to prevent it from being downloaded -->

                        <div class="u-hidden  u-display-block-large-and-up">

                        	<div class="small-module__image    u-hidden  u-display-block-large-and-up" style="background-image: url(http://placehold.it/160x160);"></div>

                        </div>

                        <div class="small-module__text">

                            <h2 class="small-module__title">Meet the team</h2>

                            <span class="u-hidden  u-display-block-large-and-up">Our friendly guides are here to make sure you have a memorable visit.</span>

                        </div>

                    </a><!-- /.small-module -->

                <!-- /li.layout item -->
            </ul><!-- /.layout -->

        </div><!-- /layout__item --><div class="layout__item  u-1-of-1  u-1-of-4-huge">

            <hr class="u-hidden  u-display-block-large-and-up  u-hidden-huge    u-mb0">

            <ul class="layout  layout--small">
                <li class="layout__item  u-1-of-3-large-and-up  u-1-of-1-huge">

                    <a class="icon-module  icon-module--index-0  icon-module--fees" href="#">

                        <h2 class="icon-module__title">Park fees</h2>

                    </a><!-- /.icon-module -->

                <!-- /li.layout__item -->
                <li class="layout__item  u-1-of-3-large-and-up  u-1-of-1-huge">

                    <a class="icon-module  icon-module--index-1  icon-module--find" href="#">

                        <h2 class="icon-module__title">Find us</h2>

                    </a><!-- /.icon-module -->

                <!-- /li.layout__item -->
                <li class="layout__item  u-1-of-3-large-and-up  u-1-of-1-huge">

                    <a class="icon-module  icon-module--index-2  icon-module--info" href="#">

                        <h2 class="icon-module__title">Tour times</h2>

                    </a><!-- /.icon-module -->

                <!-- /li.layout__item -->
            </ul><!-- /.layout -->

        </div><!-- /li.layout__item -->

    </div><!-- /layout -->

</main>

<!-- End main content -->


{{> _footer }}
