/*------------------------------------*\
    #ICON-MODULE
\*------------------------------------*/

/**
 * Styling for the S3 icon modules.
 * Note that the "module" component can only be imported once, so importing it
 * in multiple files does not cause duplication.
 **/

$sagovau-icon-module-icon-type: fees, find, info !default;

// Make sure the "module" extend-only component is included before this content.

@import 'components.module';


/*a*/.#{$sagovau-namespace}icon-module {
    @extend %#{$sagovau-namespace}module;

    @include media-query(large-and-up) {
        background-position: center left;
        background-repeat: no-repeat;
        background-size: contain;
        height: 0;
        padding-bottom: 25%;
        padding-left: 30%;
    }

    @include media-query(huge) {
        border-bottom-width: 1px;
        margin-bottom: 0;
    }

}

/*a*/.#{$sagovau-namespace}icon-module--internal {

    border-bottom-width: 1px;

    &.icon-module--index-0 {
        border-top-width: 0;
    }

    @include media-query(large-and-up) {
        padding-bottom: 22.5%;
    }

}

/*a*/.#{$sagovau-namespace}icon-module--index-0 {

    @include media-query(huge) {
        border-top-width: 1px;
    }

}

@each $icon-type in $sagovau-icon-module-icon-type {

    /*a*/.#{$sagovau-namespace}icon-module--#{$icon-type} {

        @include media-query(large-and-up) {
            background-image: url(#{$sagovau-path-svg}#{$sagovau-file-prefix}-icon-#{$icon-type}.svg);
        }

    }

}


    /*h2*/.#{$sagovau-namespace}icon-module__title {
        @extend %#{$sagovau-namespace}module__title;

        @include media-query(large-and-up) {
            $font-size: map-get($sagovau-h3-settings, font-size);         // Get the h3 font size

            height: 0;
            margin-top: -0.5 * $font-size;  // Set the font size to half the h3 font size
            padding: 0;
            position: absolute;
            top: 50%;
        }

    }
