/*------------------------------------*\
    #PAGE-SHADOW
\*------------------------------------*/

/**
 * Add a drop-shadow to the page on the S3 of sites.
 */

/**
 * 1. Ensure children are positioned relative to the footer
 **/

$sagovau-page-shadow-bottom-center: url(#{$sagovau-path-shared}S3-page-shadow-bottom-center.png);
$sagovau-page-shadow-bottom-left: url(#{$sagovau-path-shared}S3-page-shadow-bottom-left.png);
$sagovau-page-shadow-bottom-right: url(#{$sagovau-path-shared}S3-page-shadow-bottom-right.png);
$sagovau-page-shadow-top-left: url(#{$sagovau-path-shared}S3-page-shadow-top-left.png);
$sagovau-page-shadow-top-right: url(#{$sagovau-path-shared}S3-page-shadow-top-right.png);


/*div*/.#{$sagovau-namespace}page-shadow {

    @include media-query(large-and-up) {
        background-image: $sagovau-page-shadow-bottom-left, $sagovau-page-shadow-bottom-right, $sagovau-page-shadow-bottom-center, $sagovau-page-shadow-top-right, $sagovau-page-shadow-top-left;
        background-repeat: no-repeat, no-repeat, repeat-x, repeat-y, repeat-y;
        background-position: bottom left, bottom right, bottom, top right, top left;
    }

}
