/*------------------------------------*\
    #FEATURE-MODULE
\*------------------------------------*/

/**
 * Styling for the Alpha series feature modules.
 * Note that the "module" component can only be imported once, so importing it
 * in multiple files does not cause duplication.
 **/


// Make sure the "module" extend-only component is included before this content.

@import 'components.module';


/*a*/.#{$sagovau-namespace}feature-module {
    @extend %#{$sagovau-namespace}module;

    @include media-query(large-and-up) {
        margin-bottom: $sagovau-spacing-unit-base--small;
    }

}

    /*div*/.#{$sagovau-namespace}feature-module__image {    // Use a div instead of img to prevent download on mobile

        @include media-query(large-and-up) {
            background-repeat: no-repeat;
            background-size: cover;
            height: 0;
            padding-bottom: (217 / 284) * 100%; // Manually calculated based on the required dimensions
        }

    }

    /*h2*/.#{$sagovau-namespace}feature-module__title {
        @extend %#{$sagovau-namespace}module__title;

        @include media-query(large-and-up) {
            background-color: #000;  // Fallback for non-RGBA browsers
            background-color: rgba(0, 0, 0, 0.7);
            border-bottom-style: none;
            bottom: 0;
            color: $sagovau-color-text-reverse;
            left: 0;
            padding: $sagovau-spacing-unit-base--small;
            position: absolute;
            width: 100%;
        }
    }
