/*------------------------------------*\
    #SITEMAP
\*------------------------------------*/

/**
 * Styling for the S3 "sitemap".
 */

$sagovau-sitemap-background: "#{$sagovau-path-png}#{$sagovau-file-prefix}-sitemap-background.svg" !default;

/*div*/.#{$sagovau-namespace}sitemap {
    background-color: $sagovau-color-background-sitemap;
    background-image: url($sagovau-sitemap-background);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    font-size: $sagovau-font-size-base;
    min-height: 10 * $sagovau-spacing-unit-base;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100%;

    @include media-query(large-and-up) {
        text-align: right;
    }
}


    /*h1*/.#{$sagovau-namespace}sitemap__logo {
        margin: 0;
        padding: $sagovau-spacing-unit-base;

        @include media-query(large-and-up) {
            left: 0;
            position: absolute;
            top: 0;
        }

    }

    /*ul*/.#{$sagovau-namespace}sitemap__collection {
        @extend %#{$inuit-namespace}list-bare;
        display: inline-block;
        min-height: 8 * $sagovau-spacing-unit-base;
        padding: 0 $sagovau-spacing-unit-base $sagovau-spacing-unit-base;
        text-align: left;

        @include media-query(large-and-up) {
            padding-top: 2 * $sagovau-spacing-unit-base;
        }

    }

    /*ul*/.#{$sagovau-namespace}sitemap__collection--separated {
        padding-top: 2 * $sagovau-spacing-unit-base;
    }

        /*li*/.#{$sagovau-namespace}sitemap__group {
            display: inline-block;
            margin-left: -$sagovau-spacing-unit-base;
            vertical-align: top;
            width: auto;

            @include media-query(large-and-up) {
                border-left: 1px solid $sagovau-color-brand--medium-light;
                margin-bottom: -200px;
                margin-left: $sagovau-spacing-unit-base;
                min-width: 6 * $sagovau-spacing-unit-base;
                padding-bottom: 200px;
                padding-left: $sagovau-spacing-unit-base--small;
            }

        }

            /*h2*/.#{$sagovau-namespace}sitemap__title {
                @include inuit-font-size($sagovau-font-size-base);
                color: $sagovau-color-text-reverse;
                margin-bottom: $sagovau-spacing-unit-base--small;
            }

            /*ul*/.#{$sagovau-namespace}sitemap__list {
                @extend %#{$inuit-namespace}list-bare;
                @include inuit-font-size(round($sagovau-font-size-base / 1.2));
            }

                /*a*/.#{$sagovau-namespace}sitemap__link {
                    color: $sagovau-color-brand--light;
                    display: inline-block;
                    @include ui-link;   // Underline on hover/focus

                    /**
                     * 1. Add extra padding on touch devices to give larger tap targets
                     *
                     * 2. Add a negative margin so the padding doesn't affect the baseline
                     **/

                    .touch & {
                        margin-top: -$sagovau-spacing-unit-base--small;     /* [2] */
                        padding: $sagovau-spacing-unit-base--small 0;    /* [1] */
                    }

                }
