/*------------------------------------*\
    #TEASER-MODULE
\*------------------------------------*/

/**
 * Styling for the Botanic Gardens teaser modules.
 *
 * Note that the 'module' component can only be imported once, so importing it
 * in multiple files does not cause duplication.
 **/


// Make sure the "module" extend-only component is included before this content.

@import 'components.module';


/*a*/.#{$sagovau-namespace}teaser-module {
    @extend %#{$sagovau-namespace}module;
    border: 0;
    margin-bottom: $sagovau-spacing-unit-base;
    padding-bottom: 0;
    border-bottom: 1px dotted $sagovau-color-brand;

    &:focus,
    &:hover {
        text-decoration: none;
    }

    @include media-query(large-and-up) {
        margin-bottom: $sagovau-spacing-unit-base;
    }

}

/*a*/.#{$sagovau-namespace}teaser-module--no-readmore {
    padding-bottom: 0;
}


    /*div*/.#{$sagovau-namespace}teaser-module__image { // Use a div instead of img to prevent download on mobile
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: $sagovau-spacing-unit-base;
        display: block;
        @include ui-link; // Underline on hover/focus
        padding-bottom: (200 / 620) * 100%; // Manually calculated based on the required dimensions

        @include media-query(large-and-up) {
            height: 0;
            padding-bottom: (140 / 620) * 100%; // Manually calculated based on the required dimensions
        }

        @include media-query(huge) {
            padding-bottom: (155 / 620) * 100%; // Manually calculated based on the required dimensions
        }

        /*a*/.#{$sagovau-namespace}teaser-module--no-readmore & {
            &:focus,
            &:hover {
                text-decoration: none;
            }
        }

    }

    /*h2*/.#{$sagovau-namespace}teaser-module__title {
        @extend %#{$sagovau-namespace}module__title;
        text-decoration: none;
        background-color: #000; // Fallback for non-RGBA browsers
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom-style: none;
        bottom: 0;
        color: $sagovau-color-text-reverse;
        left: 0;
        padding: $sagovau-spacing-unit-base--small;
        position: absolute;
        width: 100%;

        &:focus,
        &:hover {
            text-decoration: inherit;
        }

        /*div*/.#{$sagovau-namespace}teaser-module__image & {
            text-decoration: inherit;
        }
    }


    /*a*/.#{$sagovau-namespace}teaser-module__readmore {
        font-weight: bold;
    }
