/*------------------------------------*\
    #GENERAL SETTINGS
\*------------------------------------*/

/**
 * The series's general settings. Builds on the global general settings.
 */

// Import the global settings

@import 'dewnr-bedrock/sass/settings.general';





/* = File locations and prefixes = */

$sagovau-path-png: '../images/';
$sagovau-path-svg: '../images/';

$sagovau-path-fonts: '/assets/fonts/';

$sagovau-path-shared: '/files/templates/00000000-0000-0000-0000-000000000000/f88a7f3c-df7e-430a-825c-24cfa8dec9a8/';


$sagovau-file-prefix: 'S3';





/* == High-level colours == */

$sagovau-color-brand: #002855;
$sagovau-color-brand-secondary: #9e948b;





/* = Colours = */

$sagovau-color-text-base: #333;

$sagovau-color-background-base: #666;
$sagovau-color-background-content: #fff;
$sagovau-color-background-sitemap: #333;





/* = Fonts =*/

$sagovau-font-family-base: 'Frutiger W01', Helvetica, Arial, sans-serif !default;
$sagovau-font-family-highlight: $sagovau-font-family-base;


$sagovau-font-size-base: 14px;
$sagovau-line-height-base: 20px;





/* = Layout = */

$sagovau-spacing-unit-base: $sagovau-line-height-base;


$sagovau-max-width: 1186px;





/* = Animations and general appearance = */

$sagovau-box-shadow: 0 0.25 * $sagovau-spacing-unit-base 0.5 * $sagovau-spacing-unit-base rgba(0, 0, 0, 0.3);
