/*------------------------------------*\
    #SPECIFIC SETTINGS
\*------------------------------------*/

/**
 * Series settings that have specific uses, such as controlling which classes
 * are output or the design of a particular object or component.
 **/

// Import the global settings

@import 'dewnr-bedrock/sass/settings.specific';





/* = BASE */

/* == MAIN == */

$sagovau-main-color-background: $sagovau-color-background-content;





/* == OBJECTS == */

/* === DELIMITED === */

$sagovau-enable-delimited--pipe: true;


/* === TOGGLE === */

$sagovau-enable-toggle--brand: true;
$sagovau-enable-toggle--brand-light: true;


/* === WRAPPER === */

$sagovau-enable-wrapper--ph-small: true;
$sagovau-enable-wrapper--large-and-up-ph-small: true;





/* == TRUMPS ==*/

$sagovau-enable-color-scheme--danger: true;
$sagovau-enable-color-scheme--warning: true;
