<!DOCTYPE html>

<html lang="en" xml:lang="en" class="sb no-js no-inlinesvg no-retina" prefix="og: http://ogp.me/ns#">

    <head>

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- Stylesheets -->

        <link href="css/main.css" rel="stylesheet">

        <!-- End Stylesheets -->

    </head>


    <body>
        <div class="wrapper  wrapper--large-and-up-ph-small    page-shadow">
            
            <!-- Main content -->

            <main class="box  box--small" role="main">

                {{> navigation-tiles }}
            
            </main>

        </div>

    </body>

</html>
