{% from 'macros/helpers.html' import sprite %}

{% set image_path = 'images/' %}
{% set share_path = 'http://www.environment.sa.gov.au/files/templates/00000000-0000-0000-0000-000000000000/f88a7f3c-df7e-430a-825c-24cfa8dec9a8/' %}
{% set site_prefix = 'S3' %}
{% set site_url = 'http://www.environment.sa.gov.au' %}

<!doctype html>
<html>
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->

    <link href="css/main.css" rel="stylesheet">

    <!-- End Stylesheets -->

    <title>{% block title %}Department of Environment, Water and Natural Resources (DEWNR){% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body>


    <div class="wrapper  wrapper--large-and-up-ph-small    page-shadow">


        {% include "shared/site-header.html" %}


        <!-- Main content -->

        <main class="box  box--small" role="main">
            {% block content %}
            {% endblock %}
        </main>

        <!-- End main content -->


        {% include "shared/site-footer.html" %}


    </div><!-- /.wrapper -->


    {% block javascript %}

        <!-- jQuery -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- End jQuery -->

    {% endblock %}


</body>
</html>
