
<!-- Site header -->

<header class="site-header" role="banner">

    <div class="site-header__banner">

        <a href="#"><img alt="" class="site-header__logo" src="{{ image_path }}{{ site_prefix }}-logotype.svg"></a>


        <div class="site-header__quick-links  social">

            {% include "shared/social.html" %}

        </div><!-- /.site-header__quick-links -->

    </div><!-- /.site-header__banner -->


    <div class="site-header__navigation">

        <button class="toggle  toggle--brand-light  u-hidden-large-and-up u-js-only" data-toggle="active" data-toggle-target=".js-primary-navigation">

            <svg class="toggle__icon  js-navigation-icon" height="40" version="1.1" viewBox="0 0 85 40" width="85" style="display:block;">
                <path  class="toggle__layer  toggle__layer--active" d="M0,0v40.5h85C65,40,65,0,45,0H0z M16,28h-3v-3h3V28z M16,21h-3v-3h3V21z M16,14h-3v-3h3V14z M47,28H19v-3h28V28z M47,21H19v-3h28V21z M47,14H19v-3h28V14z" />
                <g class="toggle__layer">
                    <rect x="13" y="11" width="3" height="3"/>
                    <rect x="19" y="11" width="28" height="3"/>
                    <rect x="13" y="18" width="3" height="3"/>
                    <rect x="19" y="18" width="28" height="3"/>
                    <rect x="13" y="25" width="3" height="3"/>
                    <rect x="19" y="25" width="28" height="3"/>
                </g>
            </svg>

        </button>

        {% include "shared/primary-navigation.html" %}

    </div>

</header><!-- /.site-header -->
