<!-- Site footer -->

<footer class="site-footer  site-footer--brand-secondary    js-site-footer">

    {{> sitemap }}






    <div class="site-footer__disclaimer">

        <span class="delimited  delimited--pipe">
            <a class="site-footer__link" href="{{ site_url }}/copyright">&copy; Copyright, Department of Environment, Water and Natural Resources 2015</a>
        </span>

        <span class="delimited  delimited--pipe">
            <a class="site-footer__link" href="{{ site_url }}/disclaimer">Disclaimer</a>
        </span>

        <span class="delimited  delimited--pipe">
            <a class="site-footer__link" href="{{ site_url }}/privacy">Privacy</a>
        </span>

        <span class="delimited  delimited--pipe">
            <a class="site-footer__link" href="{{ site_url }}/accessibility">Accessibility</a>
        </span>

        <span class="delimited  delimited--pipe">Updated 02 Dec 2014</span>

    </div><!-- /.site-footer__disclaimer -->






    <div class="site-footer__background  site-footer__background--secondary    u-hidden  u-display-block-large-and-up"></div>





    <svg class="site-footer__background  site-footer__background--primary    u-hidden  u-display-block-large-and-up" height="55" role="presentation" version="1.1" viewBox="0 0 605 55" width="605">
        <path fill="#9e958d" d="M0,0v44c0,11,10.999,11,10.999,11h426.059c0,0,29.973-1.418,61.404-12.758C529.893,30.904,548.316,25,605,25V0H0z"/>
    </svg><!-- /.site-footer__background -->





    <div class="site-footer__partners">

        <a class="site-footer__link  site-footer__link--partner-logo" href="http://www.environment.sa.gov.au/" target="_blank">

            <span class="u-hidden  u-display-inline-block-large-and-up">
                <img alt="Goverment of South Australia" class="u-hidden-retina" src="{{ share_path }}regional-footer-gosa.png" style="max-height: 55px;">
                <img alt="Goverment of South Australia" class="u-hidden  u-display-inline-block-retina" src="{{ share_path }}alpha-footer-gosa.svg" style="max-height: 55px;">
            </span>

            <span class="u-hidden-large-and-up">
                <img alt="Goverment of South Australia" class="u-hidden-retina" src="{{ share_path }}regional-footer-gosa-vertical.png">
                <img alt="Goverment of South Australia" class="u-hidden  u-display-inline-block-retina" src="{{ share_path }}alpha-footer-gosa-vertical.svg">
            </span>

        </a>


        <a class="site-footer__link  site-footer__link--partner-logo" href="http://www.southaustralia.com/" target="_blank">

            <span class="u-hidden  u-display-inline-block-large-and-up">
                <img alt="SouthAustralia.com" class="u-hidden-retina" src="{{ share_path }}regional-footer-south-australia.png">
                <img alt="SouthAustralia.com" class="u-hidden  u-display-inline-block-retina" src="{{ share_path }}alpha-footer-south-australia.svg">
            </span>

            <span class="u-hidden-large-and-up">
                <img alt="SouthAustralia.com" class="u-hidden-retina" src="{{ share_path }}regional-footer-south-australia-vertical.png">
                <img alt="SouthAustralia.com" class="u-hidden  u-display-inline-block-retina" src="{{ share_path }}alpha-footer-south-australia-vertical.svg">
            </span>

        </a>


        <a class="site-footer__link  site-footer__link--partner-logo" href="http://www.sa.gov.au/" target="_blank">

            <span class="u-hidden  u-display-inline-block-large-and-up">
                <img alt="sa.gov.au" class="u-hidden-retina" src="{{ share_path }}regional-footer-sagovau.png">
                <img alt="sa.gov.au" class="u-hidden  u-display-inline-block-retina" src="{{ share_path }}alpha-footer-sagovau.svg">
            </span>

            <span class="u-hidden-large-and-up">
                <img alt="sa.gov.au" class="u-hidden-retina" src="{{ share_path }}regional-footer-sagovau-vertical.png">
                <img alt="sa.gov.au" class="u-hidden  u-display-inline-block-retina" src="{{ share_path }}alpha-footer-sagovau-vertical.svg">
            </span>

        </a>

    </div><!-- /.site-footer__partners -->






</footer><!-- /.site-footer -->

<!-- End site footer -->
