<script type="text/javascript">

    function doSearch(keywordID) {

        var el = document.getElementById(keywordID), searchKeyword;

        searchKeyword = el.value;

        if (searchKeyword == 'Search' || searchKeyword == '') {

            el.placeholder = 'Enter a search term';

            el.className += " site-search__input--error";

        } else {

            window.location = 'http://www.environment.sa.gov.au/sealbay/search-results?dlv_SB%20DLV%20search%20results=(keyword=' +searchKeyword+')';

        }

        return false;

    }

</script>

<form action="#" class="site-search    u-1-of-1  u-1-of-3-large-and-up  u-1-of-4-huge    js-site-search" onsubmit="return doSearch('site-search-text');">

    <input class="site-search__input  site-search__input--text" id="site-search-text" placeholder="Search" title="Search the Seal Bay site" type="text"><button class="site-search__input  site-search__input--submit" type="submit">

        <svg height="40" version="1.1" viewBox="0 0 40 40" width="40">

            <g>
                <path d="M24.762,22.988c2.448-3.305,2.176-8.01-0.82-11.006c-3.297-3.297-8.666-3.297-11.959,0c-3.295,3.297-3.297,8.662,0,11.959c2.996,2.996,7.699,3.269,11.008,0.815l2.591,2.595l1.771-1.771L24.762,22.988zM22.033,22.033c-2.245,2.244-5.898,2.244-8.143,0c-2.244-2.245-2.244-5.898,0-8.143c2.244-2.246,5.897-2.246,8.143,0C24.277,16.135,24.277,19.789,22.033,22.033z"/>
                <rect x="27.904" y="27.107" transform="matrix(-0.7067 0.7075 -0.7075 -0.7067 70.3882 29.133)" width="2.504" height="4.098"/>
            </g>

        </svg>

    </button>

</form>
