
        <ul class="layout  layout--small">

            {{#teaserModules}}

                <li class="layout__item">

                    <div class="teaser-module{{ class }}">

                        <a class="teaser-module__image" style="background-image: url({{ image }})" href="{{ href }}">
                            <h2 class="teaser-module__title">{{ title }}</h2>
                        </a>

                        <div class="teaser-module__content">
                            <p>{{ text }}</p>

                            <a class="teaser-module__readmore" href="{{ href }}">Read more</a>
                        </div>

                    </div><!-- /.teaser-module -->

                </li><!-- /.layout item -->

            {{/teaserModules}}

        </ul>
